<div class="FooterSection Grid Grid--FooterLinks">
  <div class="u-md-spaceRight5 u-spaceTop u-md-spaceTopNone">
    <h4 class="u-textGrow">{{pkg.author.name}}</h4>
    
    <div class="Grid Grid--2x2 Grid-md--2x2 u-spaceTop">
      <ul class="Footer-List u-listReset u-spaceItems">
        <li class="Footer-Links">
          <a href="/">Home</a>
        </li>
        <li class="Footer-Links">
          <a href="/about">About</a>
        </li>
        <li class="Footer-Links">
          <a href="/writes">Writing</a>
        </li>
      </ul>

      <ul class="Footer-List u-listReset u-spaceItems">
        <li class="Footer-Links">
          <a href="/reads">Bookshelf</a>
        </li>
        <li class="Footer-Links">
          <a href="/testimonials">Testimonials</a>
        </li>
        <li class="Footer-Links">
          <a href="/now">Now</a>
        </li>
      </ul>
    </div>

  </div>
  
  <div class="u-md-spaceRight5 u-spaceTop u-md-spaceTopNone">
    <h4 class="u-textGrow">Connect</h4>
    <!-- {% include "compositions/showcase-social-media.njk" %} -->

    <div class="Grid Grid--2x2 Grid-md--2x2 u-spaceTop01">
      <ul class="Footer-List u-listReset u-spaceItems">
        <li class="Footer-Links">
          <a href="/">Home</a>
        </li>
        <li class="Footer-Links">
          <a href="/about">About</a>
        </li>
        <li class="Footer-Links">
          <a href="/writes">Writing</a>
        </li>
      </ul>

      <ul class="Footer-List u-listReset u-spaceItems">
        <li class="Footer-Links">
          <a href="/reads">Bookshelf</a>
        </li>
        <li class="Footer-Links">
          <a href="/testimonials">Testimonials</a>
        </li>
        <li class="Footer-Links">
          <a href="/now">Now</a>
        </li>
      </ul>
    </div>
  </div>
</div>