<div class="Grid Grid--homeHero u-spaceTop5 u-lg-spaceTop10">

  <div class="HeroAvatar u-md-flex u-md-flexAlignItemsCenter u-md-spaceTop4 u-lg-spaceTopNone">
    {% include "svg/2023-profile.svg" %}
    {# {% include "svg/illustration-whale.svg" %} #}
  </div>

 
  <div
    class="u-spaceTop u-md-spaceTopNone
           u-flex u-flexAlignItemsCenter u-flexJustifyCenter"
  >
    <div class="Banner Banner--simple">
      {# <h1 class="Banner-label">Hello, my name is Derek</h1> #}
      <p class="Banner-title">
       I’m a design leader with passion for collaboration, craft, process, and people. 
      </p>
      {# <div class="Banner-subtitle u-spaceTop">
        {{ layoutContent | safe }}
      </div> #}
    </div>
  </div>

 

</div>
