<div class="Grid Grid--homeHero">

  <div
    class="u-spaceTop u-md-spaceTopNone
           u-flex u-flexAlignItemsCenter u-flexJustifyCenter"
  >
    <div class="Banner Banner--simple">
      <h1 class="Banner-label">Hello, my name is Derek</h1>
      <h2 class="Banner-title">
        I make user-friendly, inclusive, and modular designs for screens.
      </h2>
      <div class="Banner-subtitle u-spaceTop">
        {{ layoutContent | safe }}
      </div>
    </div>
  </div>

  <div 
    class="Illustration-whale u-flex u-flexAlignItemsCenter
           u-spaceTop6 u-md-spaceTop4 u-lg-spaceTopNone"
  >
    {% include "svg/illustration-whale.svg" %}
  </div>

</div>

<div class="Container u-textCenter u-padSidesNone">
  {% include "svg/illustration-wavy-line.svg" %}
</div>
