.Footer {
  /* margin: 0 auto;
  max-width: 1860px;
  width: 100%; */
}

.Footer-inner {
  padding: 0 1rem;
  margin: 0 auto;
}


.Footer-List {
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
}

.Footer-Links {
  margin-right: 1em;
  margin-bottom: 0.125em;
  &:last-of-type {
    margin-right: 0;
  }

  a {
    color: var(--theme-color-max-contrast);
  }
}

@media (--lg-viewport) {
  .Grid--Footer {
    grid-template-columns: 0.8fr 0.8fr;
    grid-gap: 4%;
  }
}


.Grid--FooterWhaleHello {
  grid-template-columns: 160px 1fr;
  grid-gap: 4rem;
}

/* .Footer .Illustration-whale {
  transform: scaleX(-1);
} */


.Grid--FooterLinks {
  
}

@media (--lg-viewport) {
  .Grid--FooterLinks {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin-top: 6.192rem;
  }
}

.FooterSection {
  margin-top: 2rem;
}

.FooterPromos {
  /* margin-top: 2rem; */
}