.Footer {
  margin: 0 auto;
  max-width: 2300px;
  width: 100%;
}

.Footer-inner {
  padding: 1rem 1rem 2rem;
  margin: 0 auto;
}


.Footer-List {
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
}

.Footer-Links {
  margin-right: 1em;
  margin-bottom: 0.125em;
  &:last-of-type {
    margin-right: 0;
  }

  a {
    color: var(--theme-color-max-contrast);
  }
}

@media screen and (min-width: 1599px) {
  .Grid--Footer {
    grid-template-columns: 0.8fr 0.8fr;
    grid-gap: 6%;
  }
}



/* @media (--xl-viewport) {
  .Grid--Footer {
    grid-template-columns: 0.8fr 0.8fr;
    grid-gap: 8%;
  }
} */

@media (--md-viewport) {
  .Grid--FooterWhaleHello {
    grid-template-columns: 160px 1fr;
    grid-gap: 4rem;
  }
}

/* .Footer .Illustration-whale {
  transform: scaleX(-1);
} */


/* .Grid--FooterLinks {
  
} */

@media (--md-viewport) {
  .Grid--FooterLinks {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin-top: 6.192rem;
  }
}

.FooterSection {
  margin-top: 2rem;
}

@media (--md-viewport) {
  .FooterSection {
    margin-top: 2rem;
  }
}

.FooterPromos {
  display: grid;
  gap: 16%;
}

@media (--md-viewport) {  
  .FooterPromos {
    display: grid;
    gap: 4%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (--lg-viewport) and (orientation: landscape) {
  .FooterPromos {
    display: grid;
    gap: 4%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (--lg-viewport) and (orientation: portrait) {  
  .FooterPromos {
    display: block;
  }
}

@media (--xl-viewport) {
  .FooterPromos {
    grid-template-columns: 1fr;
    gap: 10%;
  }
}