:root {
  --logo-size: 64px;
}

.Logo {
  /* height: var(--logo-size); */
  transition: transform 350ms ease;
  /* width: var(--logo-size); */
  width: 112px;
}

@media (--md-viewport) {
  .Logo {
    /* height: 24px; */
    /* width: 24px; */
    width: auto;
  }
}

.Logo:hover {
  transform: scale(1.1);
}