:root {
  --logo-size: 64px;
}

.Logo {
  height: var(--logo-size);
  transition: transform 350ms ease;
  width: var(--logo-size);
}

@media (max-width: 319px) {
  .Logo {
    height: 24px;
    width: 24px;
  }
}

.Logo:hover {
  transform: scale(1.1);
}