/**
 * @define Bookshelf
 */

.Bookshelf-content {
  display: grid;
  flex-direction: row;
  grid-column-gap: 2vw;
  grid-template-columns: 1fr;
  line-height: 1.2;
  margin-bottom: calc(1em + 2vw);
}

@media (min-width: 500px) {
  .Bookshelf-content {
    grid-template-columns: repeat(2, minmax(10em, 1fr));
  }
}

@media (min-width: 600px) {
  .Bookshelf-content {
    grid-template-columns: repeat(3, minmax(10em, 1fr));
  }
}

@media (--md-viewport) {
  .Bookshelf-content {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }
}

@media (--lg-viewport) {
  .Bookshelf-content {
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  }
}

.Bookshelf-item {
  transition: transform 350ms ease;
}

.Bookshelf-item:hover {
  transform: scale(1.05);
}

.Bookshelf-info {
  background-color: transparent;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  padding-bottom: 0;
  text-decoration: none;

  @media (min-width: 500px) {
    display: block;
  }
}

.Bookshelf-art {
  display: block;
}

.Bookshelf-meta {
  padding: 0.335rem 0.75rem 0.75rem 0.75rem;
  color: var(--theme-color-text);
}

@media (min-width: 500px) {
  .Bookshelf-meta {
    padding: 0.335rem 0.75rem 0.75rem 0;
  }
}

.Bookshelf-current {
  height: 100%;
}
