.ContentHome-inner {
  margin: 0 auto;
  max-width: 1860px;
}

@media (--md-viewport) {
  .ContentHome-inner {
    padding: 0 1em;
  }
}

.Container--Home {
  max-width: 1580px;
}

.Grid--homeHero {
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (--lg-viewport) {
  .Grid--homeHero {
    grid-template-columns: 20% 75%;
    
    margin: 0 auto;
    max-width: 95vw;
    /* min-height: 50vh; */
    padding-left: 0;
    padding-right: 0;
    
  }
}

@media (min-width: 1860px) {
  .Grid--homeHero {
    /* min-height: 56vh; */
    /* padding-left: 8rem; */
    /* padding-right: 8rem; */
  }
}

.HeroAvatar {
  display: none;
}

@media (--lg-viewport) {
  .HeroAvatar {
    display: block;
  }
}

@media (--lg-viewport) {
  .Grid--homeShowcase {
    grid-gap: 5%;
    grid-template-columns: 1.5fr 2fr;
  }
}

.Grid--4Col {
  /* background-color: yellow; */

  > * {
    /* background-color: cornflowerblue; */
  }
}

@media (--lg-viewport) {
  .Grid--4Col {
    grid-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (--xl-viewport) {
  .Grid--2Col {
    grid-gap: 2%;
    grid-template-columns: 20% 75%; 
  }
}

.Grid--table {
  grid-gap: 2%;
  grid-template-columns: 1.25fr 1.75fr;
}

@media (--md-viewport) {
  .Grid--table {
    grid-template-columns: .2fr 1fr;
    
    gap: 10%;
  }
}


@media (--md-viewport) {
  .Grid--2x2 {
    grid-gap: 16%;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 6rem;
  }
}

.FooterLinksGrid {
  grid-gap: 16%;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 6rem;
}

@media (--md-viewport) {
  .FooterLinksGrid {
    grid-gap: auto;
  }
}

.Grid-Vstack {
  grid-template-columns: 1fr;
  grid-gap: 16%;
}

.Callout {
  background-color: rgba(var(--theme-color-max-contrast), .04);
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.85em;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 1rem;
}

@media (--md-viewport) { 
  .Callout { 
    grid-template-columns: 64px 1fr;
  }
}

@media (--lg-viewport) { 
  .Callout { 
    padding: 1.43rem 1.86rem;
    gap: 1.5rem;
    grid-template-columns: 80px 1fr;
  }
}

@media (--lg-viewport) and (orientation: landscape) {
  .Callout {
    font-size: 0.7em;
  }
}

@media (--lg-viewport) {
  .Callout {
    font-size: 0.85em;
  }
}

.Callout-icon {
  align-items: center;
  background:rgba(var(--theme-color-max-contrast), .06);
  border-radius: 100%;
  padding: 1rem;
  display: inline-flex;
  font-size: 1.2em;
  justify-content: center;
}

@media (--md-viewport) {
  .Callout-icon {
    height: 64px;
    width: 64px;
  }
}



@media (--lg-viewport) {
  .Callout-icon--md {
    font-size: 1.8em;
    height: 80px;
    width: 80px;
  }
}