.ContentHome-inner {
  margin: 0 auto;
  max-width: 1860px;
}

.Container--Home {
  max-width: 1580px;
}

.Grid--homeHero {
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (--lg-viewport) {
  .Grid--homeHero {
    grid-template-columns: 20% 75%;
    
    margin: 0 auto;
    max-width: 95vw;
    /* min-height: 50vh; */
    padding-left: 0;
    padding-right: 0;
    
  }
}

@media (min-width: 1860px) {
  .Grid--homeHero {
    /* min-height: 56vh; */
    /* padding-left: 8rem; */
    /* padding-right: 8rem; */
  }
}

.HeroAvatar {
  display: none;
}

@media (--md-viewport) {
  .HeroAvatar {
    display: block;
  }
}

@media (--lg-viewport) {
  .Grid--homeShowcase {
    grid-gap: 5%;
    grid-template-columns: 1.5fr 2fr;
  }
}

.Grid--4Col {
  /* background-color: yellow; */

  > * {
    /* background-color: cornflowerblue; */
  }
}

@media (--lg-viewport) {
  .Grid--4Col {
    grid-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (--md-viewport) {
  .Grid--2Col {
    grid-gap: 2%;
    grid-template-columns: 20% 75%; 
  }
}

.Grid--table {
  grid-gap: 2%;
  grid-template-columns: 1.25fr 1.75fr;
}

@media (--md-viewport) {
  .Grid--table {
    grid-template-columns: .2fr 1fr;
    
    gap: 10%;
  }
}


.Grid-md--2x2 {
  grid-gap: 16%;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 6rem;
}

@media (--md-viewport) {
  .Grid--2x2 {
    grid-gap: 16%;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 6rem;
  }
}

.Grid-Vstack {
  grid-template-columns: 1fr;
  grid-gap: 16%;
}

.Callout {
  display: block;
  background-color: rgba(var(--theme-color-max-contrast), .04);
  padding: 1.5rem;
  border-radius: 8px;
  /* font-size: 0.8em; */
}

@media (--md-viewport) { 
  .Callout { 
    padding: 2rem;
  }
}