/**
 * TODO
 * 1. This file needs some love. Let's improve it!
 */

.Container {
  /* max-width: 2300px; */
  max-width: 2300px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

@media (--lg-viewport) {
  .Container {
    padding: 0;
  }
}

@media (--md-viewport) {
  .Container--wide {
    max-width: 80vw;
    margin: 0 auto;
  }
}

@media (--lg-viewport) {
  .Container--wide {
    max-width: 80vw;
    margin: 0 auto;
  }
}

@media (--xl-viewport) {
  .Container--wide {
    max-width: 72vw;
    margin: 0 auto;
  }
}

.ContainerProse {
  margin: 0 auto;
  max-width: 62rem;
  padding: 0 1em;
}

@media (--lg-viewport) {
  .ContainerProse {
    padding: 0;
  }
}

.ContainerProse--extra {
  max-width: 64rem;
}

.ContentProse p {
  margin-top: 0.5rem;
}

.SectionIntro {
  border-bottom: 1px solid var(--theme-color-background);
  border-bottom: 1px solid var(--theme-color-accent-primary);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.Grid--smallThenBig {
  grid-gap: 10%;
}

@media (--lg-viewport) {
  .Grid--smallThenBig {
    grid-gap: 10%;
    grid-template-columns: 36% 54%;
  }
}

@media (--md-viewport) {
  .Grid--contact {
    grid-gap: 2vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (--lg-viewport) {
  .Grid--contact {
    grid-template-columns: repeat(5, 1fr);
  }
}
