@media (--md-viewport) {
  .Grid--writing {
    /* padding: 0 4rem; */
  }
}

@media (--lg-viewport) {
  .Grid--writing {
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: 0.5fr 1fr;
    padding: 0;
    transform: translateX(-10vw);
  }
}

@media (--lg-viewport) {
  .Grid--writing {
    transform: translateX(-4vw);
  }
}

.ArticleSectionLabel {
  color: var(--theme-color-max-contrast);
  font-size: 1.65rem;
  margin-top: 1rem;
}

@media (--md-viewport) {
  .ArticleSectionLabel {
    text-align: right;
  }
}
