/**
 * Colors
 */

:root {
  --color-black: 35, 35, 35;
  --color-black-alt: #171615;
  --color-blue: #0dd9e4;
  --color-blue-alt: #4484ce;
  --color-cool-blue: #F3FBFE;
  --color-blue-gray: #dfecf1;
  --color-purple: #7754b0;
  --color-dark-purple: #342a47;
  --color-dark-purple-alt: #271f35;
  
  --color-white: 250, 250, 250;

  --color-white-alt: #fbfbfb;
  --color-silver: #f3f3f3;
  --color-gray: #888;
  --color-gray-666: #666;
  --color-gray-dark: #2d3438;
}

/**
 * Theme
 */

:root {
  --theme-color-background: rgb(var(--color-black));
  --theme-color-accent-primary: var(--color-purple);
  --theme-color-accent-secondary: var(--color-gray-dark);
  --theme-color-accent-tertiary: var(--color-gray-dark);
  --theme-color-text: var(--color-silver);
  --theme-color-max-contrast: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-background: rgb(var(--color-black));
    --theme-color-accent-primary: var(--color-purple);
    --theme-color-accent-secondary: var(--color-gray-dark);
    --theme-color-accent-tertiary: var(--color-gray-dark);
    --theme-color-text: var(--color-silver);
    --theme-color-max-contrast: var(--color-white);
  }
}

/**
 * Fonts
 */

 :root {
  --font-family: 'Inter';
  --font-family-variable: 'Inter var';
}

/**
 * Modular Scale
 *
 * @see http://www.modularscale.com/?1&em&1.2
 * @see https://github.com/erikjung/postcss-modular-scale-unit
 */

:root {
  --modular-scale: minorthird;
}

/**
 * Typography
 *
 * @see https://www.smashingmagazine.com/2011/10/16-pixels-body-copy-anything-less-costly-mistake/
 */

 :root {
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --letter-spacing-loose: 0.15em;
}

/**
 * Motion Duration
 *
 * Expressed as single-decimal-point numbers so that they always evenly divide
 * the targeted 60 frames-per-second required for smooth animation.
 */

 :root {
  --duration-instant: 0s;
  --duration-immediate: 0.1s;
  --duration-quick: 0.2s;
  --duration-prompt: 0.3s;
  --duration-slow: 0.4s;
  --duration-glacial: 0.6s;
}

/**
 * Motion Easing
 *
 * @see http://easings.net/
 */

:root {
  --ease-normal: easeInOutQuart;
  --ease-normal-in: easeInQuart;
  --ease-normal-out: easeOutQuart;
}

/**
 * Animations
 */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/**
 * Box Properties
 */

:root {
  --border-radius-sm: calc(2 / 16 * 1em);
  --border-radius-md: calc(3 / 16 * 1em);
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-lg: 3px;
}

/**
 * Page Layout Properties
 */

:root {
  --max-width-page: 64rem;
}

/**
 * Custom Selectors
 */

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--enter :hover, :focus;
@custom-selector :--text-inputs [type="text"], [type="search"], [type="email"], [type="url"];
@custom-selector :--table-cells th, td;
@custom-selector :--table-sets thead, tbody, tfoot;

/**
 * Viewports
 */

@custom-media --sm-viewport (width >= 30em);
@custom-media --md-viewport (width >= 47em);
@custom-media --lg-viewport (width >= 64em);
@custom-media --xl-viewport (width >= 80em);
@custom-media --xxl-viewport (width >= 100em);

@custom-media --until-sm-viewport (width < 30em);
@custom-media --until-md-viewport (width < 47em);
@custom-media --until-lg-viewport (width < 64em);

@custom-media --sm-to-md-viewport (30em < width < 47em);
@custom-media --md-to-lg-viewport (47em < width < 64em);
