/* Currently unused as of 08.27.2020 */

.FeaturedImage {
  position: relative;
  z-index: 2;
}

@media (--md-viewport) {
  .FeaturedImage--project::after {
    /* background-color: var(--color-white); */
    border: 10px solid var(--theme-color-accent-primary);
    content: "";
    display: block;
    height: 90%;
    position: absolute;
    right: 39px;
    top: 72px;
    width: 100%;
    z-index: -1;
    display: none;
  }
}

.u-underline {
  display: inline-block;
  position: relative;
}

.u-underline::after {
  background-color: var(--theme-color-accent-primary);
  bottom: -1px;
  content: '';
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.u-overline {
  display: inline-block;
  padding-top: 1.5rem;
  position: relative;
}


.u-overline::after {
  background-color: var(--theme-color-accent-primary);
  content: '';
  position: absolute;
  height: 5px;
  left: 0;
  top: 0;
  width: 100px;

}
