
:root {
  --grid-gap: 2vw;
}

/**
 * Most of this file is a dumpster fire. This file was created to prototype
 * layouts and should be improved for production.
 */

.Grid {
  display: grid;
}

@media (--md-viewport) {
  .Grid-lg-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.Grid-about {
  grid-template-columns: repeat(2, 1fr);
}

.Grid--projects {
  grid-template-columns: 1fr;
}

@media (--md-viewport) {
  .Grid--projects {
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(2, 1fr);

  }
}

.Grid--split {
  grid-gap: var(--grid-gap);
  grid-template-columns: 1fr;
}

@media (--lg-viewport) {
  .Grid--split {
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(2, 1fr);
  }
}

.Grid--equal {
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(20%, 0.5fr));
}

.ClientLogos {
  width: 100%;
  overflow-x: auto;
}

.Grid--clientLogos {
  display: grid;
  grid-auto-columns: calc(45% - var(--grid-gap) * 2);
  grid-auto-flow: column;
}

@media (--md-viewport) {
  .ClientLogos {
    overflow-x: hidden;
    width: 100%;
  }
}

.Grid--clientLogos::before,
.Grid--clientLogos::after {
  content: ‘’;
  width: 10px;
}

@media (--md-viewport) {
  .Grid--clientLogos {
    grid-auto-flow: inherit;
    grid-template-columns: repeat(4, 1fr);
  }
}
