.Illustration-whale {
  max-width: 56vw;
  margin: 0 auto;
}

@media (--md-viewport) {
  .Illustration-whale {
    max-width: 76vw;
  }
}

@media (--lg-viewport) {
  .Illustration-whale {
    max-width: 25vw;
    max-width: 226px; 
  }
}

@media (--lg-viewport) {
  .Illustration-hippo {
    max-width: 80vw;
    margin: 0 auto;
  }
}

@media (min-width: 1500px) {
  .Illustration-hippo {
    max-width: 60vw;
  }
}

.SiteDescription {
  margin-top: 2em;
}

@media (--md-viewport) {
  .SiteDescription {
    margin-top: 0em;
  }
}