.Label {
  background-color: var(--theme-color-accent-primary);
  color: var(--theme-color-background);
  display: inline-block;
  font-size: 0.75em;
  font-variation-settings: "wght" 750;
  letter-spacing: 0.0125em;
  margin-top: .75em;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}