/* Posts List */

article {
  padding-bottom: 1em;
}

.ArticleCard {
  border-top: none;
  padding-bottom: 0;
}

.ArticleCard:not(:first-of-type) {
  border-top: 1px solid rgba(var(--theme-color-max-contrast), 23%)));
}

@media (--md-viewport) {
  .ArticleCard:not(:first-of-type) {
    border-top: none;
  }
}

.ArticleCard-Action {  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  h2 {
    margin-bottom: 0;
  }
}


@media (--md-viewport) {
  .ArticleCard-Action {
    align-items: center;
    background-color: rgba(var(--theme-color-max-contrast), 2%);
    border-radius: 16px;
    display:flex;
    justify-content: space-between;
    padding: 48px 40px;
    transition: transform 350ms ease;
    
    &:hover {
      background-color: rgba(var(--theme-color-max-contrast), 3%);
      text-decoration: none;
      
      .PostData {
        transform: translateX(8px);
      }

      .ArticleCard-Icon {
        transform: scale(1.49);
      }
    }
  }
}

.PostData {
  transition: transform 350ms ease;
}

.ArticleCard-Icon {
  min-width: 21px;
  transition: transform 350ms ease;
}

.PostDate {
  color: var(--theme-color-text);
  color: var(--color-gray);
  text-decoration: none;
}

@media (--md-viewport) {
  .PostDate {
    font-size: 1.2rem;
    min-width: 23%;
  }
}

/* @media (--lg-viewport) {
  .PostDate {
    transition: transform 350ms ease;

    &:hover {
      transform: translateX(32px);
    }
  }
} */

.PostTitleHero {
  font-size: 3em;
}

.PostsListTitle {
  font-size: 1.5rem;
  font-variation-settings: "wght" 580;
}

@media (--md-viewport) {
  .PostsListTitle {
    /* width: 70%; */
  }
}

.GridPostTitle {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
}

.PostTitle {
  font-size: 4.8rem;
}

.PostBody {

  h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 4rem;
  }

  p:not(:last-child)  {
    margin-bottom: 2rem;
  }
  

  img, iframe {
    margin-bottom: 2rem;
  }

  p {
    line-height: 1.6;
  }

  ol, ul { 
    margin-bottom: 4rem;
  }
 
}