<footer class="Footer u-spaceTop6 u-padEnds5">
  
  <div class="Container u-textCenter u-padSidesNone">
      {% include "svg/illustration-wavy-line.svg" %}
    </div>
  
  <div class="Container u-md-flex u-md-flexAlignItemsCenter">

    {# {% include "svg/illustration-whale.svg" %} #}
      
      <div class="u-md-spaceRight5 u-spaceTop u-md-spaceTopNone">
        <h4 class="u-textGrow">{{pkg.author.name}}</h4>
        <ul class="Footer-List u-listReset">
          <li class="Footer-Links">
            <a href="/designs">Projects</a>
          </li>
          <li class="Footer-Links">
            <a href="/writes">Blog</a>
          </li>
          <li class="Footer-Links">
            <a href="/reads">Bookshelf</a>
          </li>
          <li class="Footer-Links">
            <a href="/testimonials">Testimonials</a>
          </li>
          <li class="Footer-Links">
            <a href="/now">Now</a>
          </li>
        </ul>
      </div>
      
      <div class="u-md-spaceRight5 u-spaceTop u-md-spaceTopNone">
        <h4 class="u-textGrow">Connect</h4>
        {% include "compositions/showcase-social-media.njk" %}
      </div>

      <div class="u-spaceTop u-md-spaceTopNone">
        <h4 class="u-textGrow">Legal</h4>
        <ul class="Footer-List u-listReset">
          <li class="Footer-Links">© 2020</li>
          <li class="Footer-Links">
            <a href="/privacy">Privacy Policy</a>
          </li>
        </ul>
      </div>

  </div>

</footer>
