<footer class="Footer u-lg-spaceEnds16">
  
  <div class="Container">
    {% include "svg/illustration-wavy-line.svg" %}
  </div>
  
  <div class="Footer-inner Grid Grid--Footer u-spaceEnds4 u-lg-spaceEnds12">

      <div class="FooterSection">
        <div class="Grid Grid--FooterWhaleHello">
          <div class="Illustration-whale">
            {% include "svg/illustration-whale-LTR.svg" %}
          </div>
          <div>
            <strong>Whale Hello World</strong>
            <p class="u-textShrink1">I built this site with HTML, CSS, Javascript, and Eleventy. You can find the GitHub repository <a href="https://github.com/derekshirk/personal-site-2023">here</a>.</p>
          </div>
        </div>
   
        {% include "compositions/footer-links.njk" %}
      </div>

      <div class="FooterSection FooterPromos u-spaceTop4">
       
        <div class="Callout">
          <header>
            <h4>Checkout my Bookshelf</h4>
          </header>
          <p class="u-textShrink1">I’ve created a list of some books that have had a positive impact on my life. <a href=""> Check it out</a>.</p>
        </div>
        
        <div class="Callout u-spaceTop u-lg-spaceTop6">
          <header>
            <h4>Read Some Testimonials</h4>
          </header>
          <p class="u-textShrink1">I’ve worked with some incredibly talented and kind teammates. I’ve captured <a href="">a few testimonials here</a>.</p>
        </div>
        
      </div>

      <!-- {# <div class="u-spaceTop u-md-spaceTopNone">
        <h4 class="u-textGrow">Legal</h4>
        <ul class="Footer-List u-listReset">
          <li class="Footer-Links">© 2020</li>
          <li class="Footer-Links">
            <a href="/privacy">Privacy Policy</a>
          </li>
        </ul>
      </div> #} -->

  </div>

</footer>
