{# 
 This file is not currently in use.
 Keep it around as an example for future reference.
 #}

<div class="PageTopper {{ customClass }}">
  {% if title %}
    <div class="PageTopper-label ContainerProse">
      <h1>{{ title }}</h1>
      <p class="u-textSize2 u-md-textSize3">
        {% if 'post' in tags %}
          <time datetime="{{ date | machineDate }}">
            {{ date | readableDate }}
          </time>
        {% else %}
          {{subtitle}}
        {% endif %}
      </p>
    </div>
  {% endif %}
</div>
