{% for project in projectslist | reverse %}

{% if project.data.tags.indexOf("side-project") > -1 %}
  {% set arrow = "→" %}
{% elseif project.data.tags.indexOf("openSource") > -1 %}
  {% set arrow = "→" %}
{% endif %}

  <article{% if project.url == url %} data-current="current item"{% endif %} class="">

  {# {% if project.data.tags.indexOf("featured") > -1 %}
    <img src="https://www.placehold.it/1920x1080" alt="">
  {% endif %} #}

    <h3 class="u-textSize1">
      {{ arrow }}
      <a href="{{ project.url | url }}">
        {% if project.data.title %}
          {{ project.data.title }}
        {% else %}
          Untitled
        {% endif %}
      </a>
    </h3>
    {# {% if project.data.summary %}
      <p>
        {{ project.data.summary }}
      </p>
    {% endif %} #}

  </article>
{% endfor %}
