/**
 * This utility is somewhat of a hack which is being used while the
 * markup for the "projects" page is under development. Ideally, this
 * utility class can be deleted when that markup is improved. 
 */

.u-objectFitCover {
  display: flex;
  align-items: flex-start;
}

.u-objectFitCover figure {
  height: 100%;
}

.u-objectFitCover img {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
}
