/**
 * TODO
 * 1. Make utilities for all theme colors
 */

.u-theme-text-accentPrimary {
  color: var(--theme-color-accent-primary);
}

 .u-theme-accentSecondary {
  background-color: var(--theme-color-accent-secondary);
}

.u-theme-text-color {
  color: var(--theme-color-text);
}
