---
layout: layouts/base.njk
section: About
permalink: /about/index.html
---

{# {% include 'compositions/hero-writing.njk' %} #}
<section class=" u-lg-padTop6 u-spaceItems">

<div class="Container Container--Home u-padTop1 u-md-padTop3">
  <section class="Grid Grid--writing u-lg-padTop6">
    <header>
      <h1 class="">{{ title }}</h1>
      {# <p class="u-textGrow2"><strong>Last updated:</strong> 
        {{ date | readableDate }}
      </p> #}
    </header>
    <div class="u-textGrow1 u-spaceItems7 u-padTop6 u-md-padTop6">
      {{ layoutContent | safe }}
    </div>
  </section>
</div>
