---
layout: layouts/base.njk
section: About
permalink: /about/index.html
---

{# {% include 'compositions/hero-writing.njk' %} #}
<section class="u-spaceTop3 u-lg-spaceTop6 u-spaceItems">

<div class="Container Container--Home">
  <section class="Grid Grid--writing">
    <header>
      <h1 class="">{{ title }}</h1>
      {# <p class="u-textGrow2"><strong>Last updated:</strong> 
        {{ date | readableDate }}
      </p> #}
    </header>
    <div class="u-textGrow1 u-spaceItems4 u-lg-spaceItems6 u-padTop3 u-md-padTop6 u-lg-padTopNone">
      {{ layoutContent | safe }}
    </div>
  </section>
</div>
