---
layout: layouts/base.njk
class: home
section: home
---

<section class="ContentHome u-lg-padTop6">
  <article class="ContentHome-inner u-padTop02">
    {% include 'compositions/hero-home.njk' %}
    {# {% include 'compositions/showcase-writing.njk' %} #}
  </article>
</section>
