---
layout: layouts/base.njk
class: home
section: home
---

<section class="ContentHome">
  <article class="ContentHome-inner">
    
    {% include 'compositions/hero-home.njk' %}
    
    <div class="Container Container--Home Grid u-spaceItems6 u-lg-spaceItems15 u-padTop6 u-lg-padTop12">
     
      <div class="Grid Grid--2Col u-spaceItems3">
        <h2 class="SectionTitle">Background</h2>
        <div class="Grid u-spaceItems3 u-lg-spaceTopNone">
          <div class="Grid Grid--table">
            <div>2022 → Now</div>
            <div class="u-spaceItems06 Grid-lg-columns">
              <a href="https://driveway.com">Driveway</a>
              <div>Principal Product Designer</div>
            </div>
          </div>
          <div class="Grid Grid--table">
            <div>2021 → 2022</div>
            <div class="u-spaceItems06 Grid-lg-columns">
              <a href="https://driveway.com">Driveway</a>
              <div>Lead Product Designer</div>
            </div>
          </div>
          <div class="Grid Grid--table">
            <div>2020 → 2021</div>
            <div class="u-spaceItems06 Grid-lg-columns">
              <a href="https://driveway.com">Driveway</a>
              <div>Senior Product Designer</div>
            </div>
          </div>
          <div class="Grid Grid--table">
            <div>2017 → 2020</div>
            <div class="u-spaceItems06 Grid-lg-columns">
              <a href="https://cloudfour.com/">Clour Four</a>
              <div>Senior Front-end Designer</div>
            </div>
          </div>
        </div>
      </div>

      <div class="Grid Grid--2Col u-spaceItems3 u-spaceTop8">
        <h2 class="SectionTitle">Talks</h2>
        <div class="Grid u-spaceItems3 u-lg-spaceTopNone">
          <div class="Grid Grid--table">
            <div>2022</div>
            <div class="u-spaceItems06 Grid-lg-columns">
              <a href="/posts/designing-for-collaboration/">Designing for Collaboration</a>
              <div>PDX Design Festival</div>
            </div>
          </div>
           <div class="Grid Grid--table">
            <div>2021</div>
            <div class="u-spaceItems06 Grid-lg-columns">
              <a href="/posts/psychology-of-ux/">Psychology of UX</a>
              <div>Driveway Innovation Week</div>
            </div>
          </div>
           <div class="Grid Grid--table">
            <div>2021</div>
            <div class="u-spaceItems06 Grid-lg-columns">
              <a href="/posts/bob-rossing-with-auto-layout/">Bob Rossing with Auto Layout</a>
              <div>Remote</div>
            </div>
          </div>
          <div class="Callout u-spaceTop2 u-md-spaceTop6">
            <p class="u-textShrink">💬 If you’d like me to speak at your event about product design, collaboration, or process please <a href="mailto:derekshirk@gmail.com">get in touch</a>.</p>
          </div>
        </div>
      </div>

       <div class="Grid Grid--2Col u-spaceItems u-spaceTop8">
        
        <h2 class="SectionTitle">
          Musings
        </h2>
        
        <div class="Grid Grid--2x2 u-spaceItems6 u-lg-spaceTopNone">
          
          <div class="Item">
            <h4><a href="posts/introducing-the-multiplayer-design-podcast/">Multiplayer Design Podcast</a></h4>
            <p class="u-lg-textShrink1">A show about design and designer culture, by two product designers, George Clingan & Derek Shirk.</p>
          </div>

          <div class="Item u-lg-spaceTopNone">
            <h4><a href="">Laws of UX Components</a></h4>
            <p class="u-lg-textShrink1">A Figma Library that compiles Jon Yablonski's Laws of UX into reusable reference components.</p>
          </div>

          <div class="Item u-lg-spaceTopNone">
            <h4><a href="https://www.figma.com/community/file/1017296085493894582">Collabo Kit</a></h4>
            <p class="u-lg-textShrink1">A Figma library of collaboration tools that enable teams to design, annotate, and review work.</p>
          </div>

          <div class="Item u-lg-spaceTopNone">
            <h4><a href="https://www.figma.com/community/file/1097041389562707610/%E2%9D%96-Laws-of-UX%3A-Reference-Cards">Figma Plugin: Quick Start</a></h4>
            <p class="u-lg-textShrink1">Quickly create a new Figma file from a template with cover art and page structure.</p>
          </div>

      </div>


    </div>
  
    {# {% include 'compositions/showcase-writing.njk' %} #}
  
  
  </article>
</section>
