---
layout: layouts/base.njk
class: home
section: home
---

<section class="ContentHome">
  <article class="ContentHome-inner">
    
    {% include 'compositions/hero-home.njk' %}
    
    <div class="Container Container--Home Grid u-spaceItems15 u-lg-padTop12">
     
      <div class="Grid Grid--2Col u-spaceItems ">
        
        <h2 class="SectionTitle">
          Background
        </h2>
        
        <div class="Grid">
          
          <ul class="u-listInline Grid Grid--table">
            <li>2022 → Now</li>
            <li><a href="">Driveway</a></li>
            <li>Principal Product Designer</li>
          </ul>

           <ul class="u-listInline Grid Grid--table">
            <li>2021 → 2022</li>
            <li><a href="">Driveway</a></li>
            <li>Lead Product Designer</li>
          </ul>

           <ul class="u-listInline Grid Grid--table">
            <li>2020 → 2021</li>
            <li><a href="">Driveway</a></li>
            <li>Senior Product Designer</li>
          </ul>

           <ul class="u-listInline Grid Grid--table">
            <li>2017 → 2020</li>
            <li><a href="">Clour Four</a></li>
            <li>Senior Front-end Designer</li>
          </ul>

        </div>

      </div>

       <div class="Grid Grid--2Col u-spaceItems">
        
        <h2 class="SectionTitle">
          Talks
        </h2>
        
        <div class="Grid">
          
          <ul class="u-listInline Grid Grid--table">
            <li>2022</li>
            <li><a href="">Designing for Collaboration</a></li>
            <li>PDX Design Festival</li>
          </ul>

           <ul class="u-listInline Grid Grid--table">
            <li>2021</li>
            <li><a href="">Psychology of UX</a></li>
            <li>Driveway Innovation Week</li>
          </ul>

           <ul class="u-listInline Grid Grid--table">
            <li>2021</li>
            <li><a href="">Bob Rossing with Auto Layout</a></li>
            <li>Remote</li>
          </ul>

          <div class="Callout u-spaceTop6">
            <p class="u-textShrink1">If you’d like me to speak at your event about building consumer products at scale, designing for emerging technologies, ethics, or product thinking, please <a href="mailto:derekshirk@gmail.com">get in touch</a>.</p>
              
          </div>

        </div>

      </div>

       <div class="Grid Grid--2Col u-spaceItems">
        
        <h2 class="SectionTitle">
          Musings
        </h2>
        
        <div class="Grid Grid--2x2">
          
          <div class="Item">
            <h4><a href="">Multiplayer Design Podcast</a></h4>
            <p class="u-textShrink1">Coming soon. A design Podcast about collaboration, digital products and the talks about working in the field.</p>
          </div>

          <div class="Item">
            <h4><a href="">Laws of UX Cards</a></h4>
            <p class="u-textShrink1">A Figma Community resource that compiles the work on Jon Yablonski's Laws of UX into a library of reference cards that can be used when designing, providing feedback, and collaborating with teammates.</p>
          </div>

          <div class="Item">
            <h4><a href="https://www.figma.com/community/file/1017296085493894582">CollaboKit</a></h4>
            <p class="u-textShrink1">Figma Community resource A collection of team collaboration components and patterns for annotating, commenting, silent and asynchronous feedback, developer handoff, voting and more.</p>
          </div>

          <div class="Item">
            <h4><a href="https://www.figma.com/community/file/1097041389562707610/%E2%9D%96-Laws-of-UX%3A-Reference-Cards">Figma Quick Start Plugin</a></h4>
            <p class="u-textShrink1">Figma Plugin. A design Podcast about collaboration, digital products and the talks about working in the.</p>
          </div>

      </div>


    </div>
  
    {# {% include 'compositions/showcase-writing.njk' %} #}
  
  
  </article>
</section>
