---
layout: layouts/base.njk
section: post
---

{# {% include 'compositions/hero-writing.njk' %} #}

<article class="Container ContainerProse u-padTop1 u-md-padTop3">

  <div class="u-spaceItems">
    <header class="u-lg-padTop6">
      <h4 class="Banner-label">{{ page.date | readableDate }}</h4>
      <h1 class="PostTitleHero">{{ title }}</h1>
    </header>
    
    
    <div class="u-textGrow PostBody">
      {{ layoutContent | safe }}
    </div> 
    
    
    {% if link %}  
      <span class="u-flex">
        <a class="theme-button" href="{{link}}">
          {% if link_title %}
            {{ link_title }}
          {% else %}
            View link
          {% endif %}
        </a>
      </span>
    {% endif %}
  </div>

  {# {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %} #}

  {# <nav>
    <a href="{{ '/writes/' | url }}">← Post index</a>
  </nav> #}

</article>
