---
layout: layouts/base.njk
section: projects
permalink: /projects/index.html
subtitle: "Some projects that I've had the pleasure to work on"
---

{# TODO
 1. [DELETE] this file is not in use as of 08.28.2020
 #}

{# {% set customClass = "custom-class-name" %}
{% include 'components/page-topper.njk' %} #}

<div class="u-padTop02 u-spaceItems6">

  <div class="Container">

    <section class="Grid Grid--projects">
      {% set projectslist = collections.featured %}
      {% include "components/projectslist.njk" %}
    </section>

    <section class="SectionIntro u-size1of2">
      <h1>Companies I've helped</h1>
      <p class="u-textSize2 u-md-textSize3">
        I'm proud to have worked with nice people at some great companies and organizations.
      </p>
    </section>

    <section class="ClientLogos">
      <div class="Grid Grid--clientLogos">
        {% for client in clients.companies %}
        <div class="u-lg-pad3 u-flex u-flexAlignItemsCenter u-flexJustifyCenter">
          {% include client.logo ignore missing %}
          {{client.name}}
        </div>
        {% endfor %}
      </div>
    </section>

    <div class="Grid Grid--split">

      <div class="">
        <section class="SectionIntro">
          <h1 class="u-textSize3">Side {{ title }}</h1>
          <p class="u-textSize1 u-lg-textSize2">
              A few small things I've made on the side
          </p>
        </section>
        <div class="u-padTop">
          {% set projectslist = collections.sideProjects %}
          {% include "components/projectslist.njk" %}
        </div>
      </div>

      <div class="">
        <section class="SectionIntro u-size1of2">
          <h1 class="u-textSize3">Contributions</h1>
          <p class="u-textSize1 u-lg-textSize2">
            Open source projects I've contributed to
          </p>
        </section>
        <div class="u-padTop">
          {% set projectslist = collections.openSource %}
          {% include "components/projectslist.njk" %}
        </div>
      </div>

    </div>

  </div>

</div>
