---
layout: layouts/base.njk
section: projects
permalink: /designs/index.html
subtitle: "Some projects that I've had the pleasure to work on"
---

<!--
  @TODO
  1. Improve responsive images markup
  2. Set up JSON data loops
  3. Improve accessability wherever possible — one step at a time
 -->

<div class="Container">

  <section class="Grid-wrapper">

    <header
      class="Banner Banner--offset grid-whole@xs grid-whole@s       
             grid-half@m grid-half@l grid-half@xl
             u-lg-padEnds6 u-flex u-flexWrap u-flexAlignContentBetween u-pad2"
    >
      <div class="Banner-content">
        <h4 class="Banner-label">
          Abridged work
        </h4>
        <h2 class="Banner-title">
          Selected projects spanning multiple disciplines
        </h2>
        <div
          class="Banner-subtitle u-spaceTop">
          {{ layoutContent | safe }}
        </div>
      </div>
    </header>

    <!-- This could be loop One -->
    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Ecommerce: UI design and prototyping
        </h3>
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          Prototyping, front-end design, and development of HTML and CSS to create new user interfaces and components for a large sport retailer's ecommerce site.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl  u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <picture>
            <source 
              srcset="/static/img/projects/decathlon-01-900x1076.avif" 
              type="image/avif"
            >
            <source 
              srcset="/static/img/projects/decathlon-01-900x1076.webp" 
              type="image/webp"
            >
            <img 
              src="/static/img/projects/decathlon-01-900x1076.jpg" 
              alt="Decathlon ecomerce product page."
              sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
              srcset="/static/img/projects/decathlon-01-320x383.jpg 320w,
                    /static/img/projects/decathlon-01-375x448.jpg 375w, 
                    /static/img/projects/decathlon-01-500x598.jpg 500w,
                    /static/img/projects/decathlon-01-575x687.jpg 575w,
                    /static/img/projects/decathlon-01-750x897.jpg 750w,
                    /static/img/projects/decathlon-01-900x1076.jpg 900w"
            >
          </picture>
        </figure>
      </div>

    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl
               u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
         Design systems work
        </h3>
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          I've helped develop multiple design systems for clients, both designing new and contributing to existing systems.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <picture>
            <source 
              srcset="/static/img/projects/decathlon-02-900x1076.avif" 
              type="image/avif"
            >
            <source 
              srcset="/static/img/projects/decathlon-02-900x1076.webp" 
              type="image/webp"
            >
            <img 
              src="/static/img/projects/decathlon-02-900x1076.jpg" 
              alt="Example of design system web components."
              sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
              srcset="/static/img/projects/decathlon-02-320x383.jpg 320w,
                    /static/img/projects/decathlon-02-375x448.jpg 375w, 
                    /static/img/projects/decathlon-02-500x598.jpg 500w,
                    /static/img/projects/decathlon-02-575x687.jpg 575w,
                    /static/img/projects/decathlon-02-750x897.jpg 750w,
                    /static/img/projects/decathlon-02-900x1076.jpg 900w"
            >
          </picture>
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6 u-padRight2"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Walmart: visual design & strategic consulting
        </h3>
        <p class="Label">Cloud Four</p>
        <p class="u-textSize u-xl-textSize1">
          Assisted the Walmart Services team with a strategic redesign via stakeholder interviews, sitemaps, wireframes, and visual design explorations.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l
               grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <picture>
            <source 
              srcset="/static/img/projects/walmart-900x1076.avif" 
              type="image/avif"
            >
            <source 
              srcset="/static/img/projects/walmart-900x1076.webp" 
              type="image/webp"
            >
            <img 
              src="/static/img/projects/walmart-900x1076.jpg" 
              alt="Walmart Services design mockup."
              sizes="(min-width: 320) 280px,
                   (min-width: 375) 335px,
                   (min-width: 414) 374px,
                   (min-width: 540) 500px,
                   (min-width: 768) 356px,
                   (min-width: 1024) 231px,
                   (min-width: 1366) 300px,
                   (min-width: 1440) 316px,
                   (min-width: 2000) 448px,
                   (min-width: 2500) 566px"
              srcset="/static/img/projects/walmart-320x383.jpg 320w,
                    /static/img/projects/walmart-375x448.jpg 375w, 
                    /static/img/projects/walmart-500x598.jpg 500w,
                    /static/img/projects/walmart-575x687.jpg 575w,
                    /static/img/projects/walmart-750x897.jpg 750w,
                    /static/img/projects/walmart-900x1076.jpg 900w"
            >
          </picture>
        </figure>
      </div>
    </article>

    <article
      class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l Grid-wrapper"
    >

      <div class="grid-whole@xs grid-whole@s grid-twothirds@m grid-twothirds@l grid-twothirds@xl Grid-wrapper u-lg-padEnds6">

        <div
          class="span-row-two@s span-row-two@m span-row-two@l span-row-two@xl grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-objectFitCover"
        >
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/butchers-brother-01-900x1350.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/butchers-brother-01-900x1350.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/butchers-brother-01-900x1350.jpg" 
                alt="Close up of the Butcher's Brother retail signage."
                class="u-block"
              >
            </picture>
          </figure>
        </div>

        <div class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-objectFitCover">
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/butchers-brother-02.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/butchers-brother-02.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/butchers-brother-02.jpg" 
                alt="The Butcher's Brother retail environment."
              >
            </picture>
          </figure>
        </div>

        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/butchers-brother-03.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/butchers-brother-03.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/butchers-brother-03.jpg" 
                alt="A close up of The Butcher's Brother menu signage."
              >
            </picture>
          </figure>
        </div>

        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/butchers-brother-04.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/butchers-brother-04.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/butchers-brother-04.jpg" 
                alt="Beer being poured into a Butcher's Brother branded pint glass."
              >
            </picture>
          </figure>
        </div>

      </div>

      <div
        class="grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl u-padTop u-lg-padEnds6 u-flexOrderFirst u-lg-flexOrderLast"
      >
          <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
            Whole Foods: environmental retail design, identity and art direction
          </h3>
          <div class="u-spaceItems">
            <p class="Label">Brewhouse</p>
            <p class="u-textSize u-xl-textSize1">
              A unique project for Whole Foods that required both identity and environmental design inside one of their most popular Portland locations.
            </p>
          </div>
      </div>
    </article>

    
    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Negroni Week: event site and venue management system
        </h3>
        <p class="Label">OVO</p>
        <p class="u-textSize u-xl-textSize1">
          Provided technical guidance and front-end development for an interative venue directory with over 6,000 locations, and a venue management system for venue owners that offered front-end editing capabilities.
        </p>
      </div>
      <div
        class="span-row-two grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <picture>
            <source 
              srcset="/static/img/projects/negroni-week-900x1076.avif" 
              type="image/avif"
            >
            <source 
              srcset="/static/img/projects/negroni-week-900x1076.webp" 
              type="image/webp"
            >
            <img 
              src="/static/img/projects/negroni-week-900x1076.jpg" 
              alt="Negroni Week website design mockups."
              loading="lazy"
              sizes="(min-width: 320) 280px,
                     (min-width: 375) 335px,
                     (min-width: 414) 374px,
                     (min-width: 540) 500px,
                     (min-width: 768) 356px,
                     (min-width: 1024) 231px,
                     (min-width: 1366) 300px,
                     (min-width: 1440) 316px,
                     (min-width: 2000) 448px,
                     (min-width: 2500) 566px"
              srcset="/static/img/projects/negroni-week-320x383.jpg 320w,
                      /static/img/projects/negroni-week-375x448.jpg 375w, 
                      /static/img/projects/negroni-week-500x598.jpg 500w,
                      /static/img/projects/negroni-week-575x687.jpg 575w,
                      /static/img/projects/negroni-week-750x897.jpg 750w,
                      /static/img/projects/negroni-week-900x1076.jpg 900w"
            >
          </picture>
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m  
             grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          CCLI: WordPress Multisite development
        </h3>
        <p class="Label">OVO</p>
        <p class="u-textSize u-xl-textSize1">
          Provided technical guidance and front-end development for a highly customized and full-featured WordPress Multisite environment. 
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl  u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <picture>
            <source 
              srcset="/static/img/projects/ccli-900x1076.avif" 
              type="image/avif"
            >
            <source 
              srcset="/static/img/projects/ccli-900x1076.webp" 
              type="image/webp"
            >
            <img 
              src="/static/img/projects/ccli-900x1076.jpg" 
              alt="CCLI website design mockups."
              loading="lazy"
              sizes="(min-width: 320) 280px,
                     (min-width: 375) 335px,
                     (min-width: 414) 374px,
                     (min-width: 540) 500px,
                     (min-width: 768) 356px,
                     (min-width: 1024) 231px,
                     (min-width: 1366) 300px,
                     (min-width: 1440) 316px,
                     (min-width: 2000) 448px,
                     (min-width: 2500) 566px"
              srcset="/static/img/projects/ccli-320x383.jpg 320w,
                      /static/img/projects/ccli-375x448.jpg 375w, 
                      /static/img/projects/ccli-500x598.jpg 500w,
                      /static/img/projects/ccli-575x687.jpg 575w,
                      /static/img/projects/ccli-750x897.jpg 750w,
                      /static/img/projects/ccli-900x1076.jpg 900w"
            >
          </picture>
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          Downtown Oregon City: rebranding a historic city
        </h3>
        <p class="Label">Brewhouse</p>
        <p class="u-textSize u-xl-textSize1">
          Identity design and marketing collateral for the Downtown Oregon City Association - highlighting a city with a rich history of pioneering spirit, grit and natural beauty.
        </p>
      </div>
      <div
        class="span-row-two grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <picture>
            <source 
              srcset="/static/img/projects/oregon-city-900x1076.avif" 
              type="image/avif"
            >
            <source 
              srcset="/static/img/projects/oregon-city-900x1076.webp" 
              type="image/webp"
            >
            <img 
              src="/static/img/projects/oregon-city-900x1076.jpg" 
              alt="Downtown Oregon City Association logo on flag posts."
              loading="lazy"
              sizes="(min-width: 320) 280px,
                     (min-width: 375) 335px,
                     (min-width: 414) 374px,
                     (min-width: 540) 500px,
                     (min-width: 768) 356px,
                     (min-width: 1024) 231px,
                     (min-width: 1366) 300px,
                     (min-width: 1440) 316px,
                     (min-width: 2000) 448px,
                     (min-width: 2500) 566px"
              srcset="/static/img/projects/oregon-city-320x383.jpg 320w,
                      /static/img/projects/oregon-city-375x448.jpg 375w, 
                      /static/img/projects/oregon-city-500x598.jpg 500w,
                      /static/img/projects/oregon-city-575x687.jpg 575w,
                      /static/img/projects/oregon-city-750x897.jpg 750w,
                      /static/img/projects/oregon-city-900x1076.jpg 900w"
            >
          </picture>
        </figure>
      </div>
    </article>

    <article
      class="Grid-wrapper grid-whole@xs grid-whole@s grid-half@m grid-half@l"
    >
      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-padTop u-lg-padEnds6"
      >
        <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
          The Janey: art direction and design
        </h3>
        <p class="Label">Brewhouse</p>
        <p class="u-textSize u-xl-textSize1">
           Art direction of wordmark, marketing collateral and website for a 50-unit luxury apartment complex in the heart of downtown Portland's Pearl District.
        </p>
      </div>

      <div
        class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-padEnds6 u-objectFitCover"
      >
        <figure>
          <picture>
            <source 
              srcset="/static/img/projects/the-janey-900x1076.avif" 
              type="image/avif"
            >
            <source 
              srcset="/static/img/projects/the-janey-900x1076.webp" 
              type="image/webp"
            >
            <img 
              src="/static/img/projects/the-janey-900x1076.jpg" 
              alt="The Janey appartments logo on building enterance."
              loading="lazy"
              sizes="(min-width: 320) 280px,
                     (min-width: 375) 335px,
                     (min-width: 414) 374px,
                     (min-width: 540) 500px,
                     (min-width: 768) 356px,
                     (min-width: 1024) 231px,
                     (min-width: 1366) 300px,
                     (min-width: 1440) 316px,
                     (min-width: 2000) 448px,
                     (min-width: 2500) 566px"
              srcset="/static/img/projects/the-janey-320x383.jpg 320w,
                      /static/img/projects/the-janey-375x448.jpg 375w, 
                      /static/img/projects/the-janey-500x598.jpg 500w,
                      /static/img/projects/the-janey-575x687.jpg 575w,
                      /static/img/projects/the-janey-750x897.jpg 750w,
                      /static/img/projects/the-janey-900x1076.jpg 900w"
            >
          </picture>
        </figure>
      </div>
    </article>

    <article
      class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l Grid-wrapper"
    >

      <div
        class="grid-whole@xs grid-whole@s grid-third@m grid-third@l
               grid-third@xl u-padTop u-lg-padEnds6"
        >
          <h3 class="u-block u-overline u-textGrow2 u-md-textGrow3 u-xl-textGrow4">
            Whole Foods: The Juicery indentity and environment
          </h3>
          <div class="u-spaceItems">
            <p class="Label">Brewhouse</p>
            <p class="u-textSize u-xl-textSize1">
              Art direction for a fresh new visual identity and retail environment for a organic juice bar shop-in-shop.
            </p>
          </div>
      </div>

      <div class="grid-whole@xs grid-whole@s grid-twothirds@m grid-twothirds@l grid-twothirds@xl Grid-wrapper u-lg-padEnds6">

        <div
          class="span-row-two@s span-row-two@m span-row-two@l span-row-two@xl grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-objectFitCover"
        >
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/the-juicery-01-900x1350.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/the-juicery-01-900x1350.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/the-juicery-01-900x1350.jpg"
                loading="lazy"
                alt="Close up of The Juicery retail signage in Whole Foods."
                class="u-block"
              >
            </picture>
          </figure>
        </div>

        <div class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl align-self-center">
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/the-juicery-02-900x600.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/the-juicery-02-900x600.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/the-juicery-02-900x600.jpg"
                loading="lazy"
                alt="Wide angle view of The Juicery retail environment in Whole Foods."
              >
            </picture>
          </figure>
        </div>

        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/the-juicery-03-600x900.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/the-juicery-03-600x900.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/the-juicery-03-600x900.jpg"
                loading="lazy"
                alt="A close up of chair and architectural details of The Juicery retail environment."
              >
            </picture>
          </figure>
        </div>

        <div
          class="grid-whole@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl u-objectFitCover"
        >
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/the-juicery-04-600x900.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/the-juicery-04-600x900.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/the-juicery-04-600x900.jpg"
                loading="lazy"
                alt="A close up of chair and retail signage at The Juicery in Whole Foods."
              >
            </picture>
          </figure>
        </div>

      </div>
    </article>
  </section>

  <section class="Grid-wrapper grid-whole@xs grid-whole@s grid-whole@m grid-whole@l u-lg-pad2 u-spaceTop6 u-lg-spaceTop3">

    <header class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl u-flex">
      <h2 class="u-textGrow3 u-xl-textGrow6">Dribbble shots</h2>
    </header>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://dribbble.com/shots/14257778-Yoga-Inspired-Interface" class="u-borderNone">
          <figure class="u-objectFitCover">
            <picture>
              <source 
                srcset="/static/img/projects/dribbble-yoga-ui-900x675.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/dribbble-yoga-ui-900x675.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/dribbble-yoga-ui-900x675.jpg" 
                alt="Dribbble Shot of a yoga inspired interface."
                loading="lazy"
                sizes="(min-width: 320) 280px,
                       (min-width: 375) 343px,
                       (min-width: 414) 382px,
                       (min-width: 540) 508px,
                       (min-width: 768) 360px,
                       (min-width: 1024) 302px,
                       (min-width: 1366) 411px,
                       (min-width: 1440) 435px,
                       (min-width: 2000) 614px,
                       (min-width: 2500) 774px"
                srcset="/static/img/projects/dribbble-yoga-ui-400x300.jpg 400w,
                        /static/img/projects/dribbble-yoga-ui-720x540.jpg 720w, 
                        /static/img/projects/dribbble-yoga-ui-900x675.jpg 900w"
              >
            </picture>
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h4 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-xl-textGrow4">
          Yoga inspired interface
        </h4>
        <span class="u-flex">
          <a class="theme-button" href="https://dribbble.com/shots/14257778-Yoga-Inspired-Interface">
            View Dribbble shot
          </a>
        </span>
      </div>
    </article>
    
    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://dribbble.com/shots/14227717-Animated-transitions-prototype" class="u-borderNone">
          <figure class="u-objectFitCover">
            <picture>
              <source 
                srcset="/static/img/projects/dribbble-mario-animation-900x675.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/dribbble-mario-animation-900x675.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/dribbble-mario-animation-900x675.jpg" 
                alt="Dribbble Shot of animated prototype featuring Mario and Luigi."
                loading="lazy"
                sizes="(min-width: 320) 280px,
                       (min-width: 375) 343px,
                       (min-width: 414) 382px,
                       (min-width: 540) 508px,
                       (min-width: 768) 360px,
                       (min-width: 1024) 302px,
                       (min-width: 1366) 411px,
                       (min-width: 1440) 435px,
                       (min-width: 2000) 614px,
                       (min-width: 2500) 774px"
                srcset="/static/img/projects/dribbble-mario-animation-400x300.jpg 400w,
                        /static/img/projects/dribbble-mario-animation-720x540.jpg 720w, 
                        /static/img/projects/dribbble-mario-animation-900x675.jpg 900w"
              >
            </picture>
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h4 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-xl-textGrow4">
          Animated transitions prototype
        </h4>
        <span class="u-flex">
          <a class="theme-button" href="https://dribbble.com/shots/14227717-Animated-transitions-prototype">
            View Dribbble shot
          </a>
        </span>
      </div>
    </article>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://dribbble.com/shots/14210319-Gaming-Activity-Log" class="u-borderNone">
          <figure class="u-objectFitCover">
            <picture>
              <source 
                srcset="/static/img/projects/dribbble-game-activity-900x675.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/dribbble-game-activity-900x675.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/dribbble-game-activity-900x675.jpg" 
                alt="Dribbble Shot of a experimental video game activity interface."
                loading="lazy"
                sizes="(min-width: 320) 280px,
                       (min-width: 375) 343px,
                       (min-width: 414) 382px,
                       (min-width: 540) 508px,
                       (min-width: 768) 360px,
                       (min-width: 1024) 302px,
                       (min-width: 1366) 411px,
                       (min-width: 1440) 435px,
                       (min-width: 2000) 614px,
                       (min-width: 2500) 774px"
                srcset="/static/img/projects/dribbble-game-activity-400x300.jpg 400w,
                        /static/img/projects/dribbble-game-activity-720x540.jpg 720w, 
                        /static/img/projects/dribbble-game-activity-900x675.jpg 900w"
              >
            </picture>
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h4 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-xl-textGrow4">
          Gaming activity concept
        </h4>
        <span class="u-flex">
          <a class="theme-button" href="https://dribbble.com/shots/14210319-Gaming-Activity-Log">
            View Dribbble shot
          </a>
        </span>
      </div>
    </article>

  </section>

  <section class="Grid-wrapper grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl u-theme-accentSecondary u-pad2 u-spaceTop6">

    <header class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
      <h2 class="u-textGrow3 u-xl-textGrow6">CodePens</h2>
    </header>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/full/dNLeZj" class="u-borderNone">
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/codepen-01-1280x720.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/codepen-01-1280x720.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/codepen-01-1280x720.jpg" 
                alt="Codepen thumbnail of a scaled hover effect experiment featuring Nike Airmax shoes."
                loading="lazy"
                sizes="(min-width: 320) 242px,
                       (min-width: 375) 297px,
                       (min-width: 414) 336px,
                       (min-width: 540) 462px,
                       (min-width: 768) 337px,
                       (min-width: 1024) 302px,
                       (min-width: 1366) 411px,
                       (min-width: 1440) 435px,
                       (min-width: 2000) 614px,
                       (min-width: 2500) 774px"
                srcset="/static/img/projects/codepen-01-500x281.jpg 500w,
                        /static/img/projects/codepen-01-900x506.jpg 900w, 
                        /static/img/projects/codepen-01-1280x720.jpg 1280w"
              >
            </picture>
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h4 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-xl-textGrow4">
          Scaled hover experiment
        </h4>
        <span class="u-flex">
          <a class="theme-button" href="https://codepen.io/derekshirk/full/dNLeZj">
            View pen
          </a>
        </span>
      </div>
    </article>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/full/JbeoNZ" class="u-borderNone">
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/codepen-02-1280x720.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/codepen-02-1280x720.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/codepen-02-1280x720.jpg" 
                alt="Codepen thumbnail of an animated snow globe holidy greeting."
                loading="lazy"
                sizes="(min-width: 320) 242px,
                       (min-width: 375) 297px,
                       (min-width: 414) 336px,
                       (min-width: 540) 462px,
                       (min-width: 768) 337px,
                       (min-width: 1024) 302px,
                       (min-width: 1366) 411px,
                       (min-width: 1440) 435px,
                       (min-width: 2000) 614px,
                       (min-width: 2500) 774px"
                srcset="/static/img/projects/codepen-02-500x281.jpg 500w,
                        /static/img/projects/codepen-02-900x506.jpg 900w, 
                        /static/img/projects/codepen-02-1280x720.jpg 1280w"
              >
            </picture>
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h4 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-xl-textGrow4">
          Happy holidays animation
        </h4>
         <span class="u-flex">
          <a class="theme-button" href="https://codepen.io/derekshirk/full/JbeoNZ">
            View pen
          </a>
        </span>
      </div>
    </article>

    <article class="Grid-wrapper grid-whole@xs grid-whole@s grid-third@m grid-third@l">
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl">
        <a href="https://codepen.io/derekshirk/full/bqdzzj" class="u-borderNone">
          <figure>
            <picture>
              <source 
                srcset="/static/img/projects/codepen-03-1280x720.avif" 
                type="image/avif"
              >
              <source 
                srcset="/static/img/projects/codepen-03-1280x720.webp" 
                type="image/webp"
              >
              <img 
                src="/static/img/projects/codepen-03-1280x720.jpg" 
                alt="Codepen thumbnail of color picker UI prototype."
                loading="lazy"
                sizes="(min-width: 320) 242px,
                       (min-width: 375) 297px,
                       (min-width: 414) 336px,
                       (min-width: 540) 462px,
                       (min-width: 768) 337px,
                       (min-width: 1024) 302px,
                       (min-width: 1366) 411px,
                       (min-width: 1440) 435px,
                       (min-width: 2000) 614px,
                       (min-width: 2500) 774px"
                srcset="/static/img/projects/codepen-03-500x281.jpg 500w,
                        /static/img/projects/codepen-03-900x506.jpg 900w, 
                        /static/img/projects/codepen-03-1280x720.jpg 1280w"
              >
            </picture>
          </figure>
        </a>
      </div>
      <div class="span-row-two grid-whole@xs grid-half@s grid-whole@m grid-whole@l grid-whole@xl u-flexOrderFirst u-lg-flexOrderLast u-spaceItems2">
        <h4 class="u-block u-overline u-textGrow1 u-md-textGrow2 u-xl-textGrow4">
          Color picker UI
        </h4>
        <span class="u-flex">
          <a class="theme-button" href="https://codepen.io/derekshirk/full/bqdzzj">
            View pen
          </a>
        </span>
      </div>
    </article>

  </section>

</div>
