---
layout: layouts/base.njk
section: testimonials
permalink: /testimonials/index.html
---

<div class="Container Container-testimonials u-padTop1 u-md-padTop6">
  
  <section class="u-spaceItems">
    <header>
      <h1 class="">{{ title }}</h1>
       <p>I’ve worked with many talented and kind teammates. Here are a few testimonals I've collected from a few.</p>
    </header>
    
    <div class="u-staggerItems02 u-spaceTop6 u-lg-spaceTop10">
      {% set testimonials = collections.testimonials %}
      <ul class="Grid-wrapper Grid--gapLarge u-listReset u-spaceBottom6">
      {% for testimonial in testimonials | reverse %}
        <li class="Testimonial grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl u-lg-textShrink1">
          <div class="Testimonial-content">
            {{ testimonial.templateContent | safe }}
          </div>
          <div class="Testimonial-meta">
            <img
              class="Testimonial-profilePhoto"
              src="{{ testimonial.data.photo }}" 
              alt="{{ testimonial.data.title }} profile photo."
            >
            <div class="Testimonial-human">
              <div class="Testimonial-name">
                {{ testimonial.data.name }}
              </div>
              <div class="Testimonial-job u-textShrink1">
                {{ testimonial.data.job_title}}
              </div>
            </div>
          </div>
          <div class="Testimonial-embellishment">
            {% include "_includes/svg/icon-quote.svg" %}
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>

  </section>
</div>
