---
layout: layouts/base.njk
section: blog
permalink: /writes/index.html
---

{% include 'compositions/hero-writing.njk' %}

{# 
 TODO
 1. Improve overall grid layout and code quality and efficiency
 2. Make loops
 3. Learn how to output posts by date
 #}

<div class="Container ContainerProse--extra u-padTop1 u-md-padTop3">

  <section class="Grid Grid--writing u-lg-padTop6 u-spaceItems">
    
    <h3 class="ArticleSectionLabel">2020</h3>
    {% set postslist = collections.2020Posts %}
    {% include "components/postslist.njk" %}
    
    {# <h3 class="ArticleSectionLabel">2019</h3>
    <div class="u-padRight2 u-spaceItems">
      {% set postslist = collections.2019Posts %}
      {% include "components/postslist.njk" %}
    </div> #}

    {# <h3 class="ArticleSectionLabel">2018</h3>
    <div class="u-padRight2 u-spaceItems">
      {% set postslist = collections.2018Posts %}
      {% include "components/postslist.njk" %}
    </div> #}
    
  </section>
</div>
